# directories
/node_modules/
/public/
/build/

# files
.gitkeep

# References
# Smashing Mag fractal build article:
# https://www.smashingmagazine.com/2018/07/pattern-library-first-css/
# Article update - gulpfile update file to support Gulp version 4:
# https://gist.github.com/Chapoton/14f4747c1a0ea635dcc2433769615060
