.button {
	display: inline-block;
	padding: $button-padding-y $button-padding-x;
	border: 1px solid $color1;
	border-radius: $border-radius;
	outline: none;
	color: $color1;
	font-size: inherit;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
}

.button.button-secondary {
	border-color: $color2;
	color: $color2;
}
