$color1: #7353cc;
$color2: #25222a;

$spacer: 1rem;
$component-spacing-base: $spacer;

$border-radius: 0.25rem;
$border-radius-large: 0.5rem;

$input-padding-y: 10px;
$input-padding-x: 12px;

$button-padding-y:   $input-padding-y;
$button-padding-x:   24px;
